<p>
  addition works!
</p>
<div class=" card  container"> 
    <div class="card-header bg-dark text-white">
      הבה נוסיף תכנים
    </div>
  <form class="form-horizontal">
    <div class="form-group" >
      <label class="control-lable">כותרת התוכן היא</label>
      <input  class="form-control"type="text"/>
    </div>
    <label class="control-lable">טווח גילאים</label>
    <div class="form-inline" >
        <label class="control-lable"> מ</label>
      <input class="form-control" type="number"/>
      <label class="control-lable">עד </label>
      <input class="form-control" type="number"/>
    </div>
    <div  class="form-group">
      <label class="control-lable"> איזה סוג זה </label>
    <input type="checkbox"/>סיפור
    <input type="checkbox"/>הקראה
    <input type="checkbox"/>שירשירון
    </div>
    <div  class="form-group">
        <label class="control-lable"> לאיזה נושא זה קשור </label>
         <input type="checkbox"/> ילדים
            <input type="checkbox"/>גיניג'ים
            <input type="checkbox"/>חמודים
      </div>
      <div class="form-group">
        <button type="submit"class="form-control" >שמירה</button>
      </div>
  </form>
  </div>
