<p>
  login -works!
</p>

<div class="card container">
<div class="card-header  bg-dark text-white">כניסה למערכת</div>
    <div class="card-body">
       <form class="form-group">
          <div class="form-group"> 
          <input type="password" name="userId" [(ngModel)]="userId">סיסמא
          </div>
          <button  class="btn btn-dark" type="submit" (click)="enter()">כניסה</button>        
        </form> 
    </div>
</div>


<!-- <form class="login">
  <div>
    <h3>Login</h3>
  </div>
<input type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"/>
<input type="password"  placeholder="Password" pattern="[^0-9][A-Za-z]{2,20}"/>
  <input type="submit" />
</form>
<div class="login-frame">
  
</div> -->