<p>
  <div class="card container">
    <div class="card-header bg-info">הרשמה</div>
    <div class="card-body">
      <form>
        <div class="form-group"> 
          <input type="text">שם 
        </div>
        <div class="form-group"><input type="text">תעודת זהות</div>
        <div class="form-group"> 
            <select>
              <option>אנגלית</option>
              <option>מתמתיקה</option>
              <option>עברית</option>
          </select>
        </div>
          <button  class="btn btn-info" type="submit">המשך</button>
      </form> 
    </div>
  </div>
</p>
