<pre dir="rtl">
    הי פרוייקט 
    זה ריקי וחני 
    חכה חכה 
    אנחנו בדרך לעתיד מזהיר
    הזהר מלטעות!!
    <h1>
        אז מה שלומנו ? איך המרצבוח?
    </h1>
</pre>
<button class="btn btn-info" (click)="onClick('חררררק....!!@ חורקות שיניים?')">😀</button>
<button class="btn btn-info" (click)="onClick('חולות על הפרוייקט הזה .... שלא יגמר!! ?')">😍</button>
<button class="btn btn-info" (click)="onClick('רואות כוכבים ולא לחיוב****')">🤩</button>
<button class="btn btn-info" (click)="onClick('דיייי אין לי כח , באלי לבכואואוותתת')">😪</button>
<button class="btn btn-info" (click)="onClick('ואגוומותגומות!!!!!!!!!!!!!!!!!!!!!!')">🤬</button>
<button class="btn btn-info" (click)="onClick('ואההה... להקיא!להקיא! להקיא!!!')">🤮</button>
<button class="btn btn-info" (click)="onClick('הכסף בא יבוא?! ')">🤑</button>
<button class="btn btn-info" (click)="onClick('אונה לך ואונה לך ')"> 😛</button>
<button class="btn btn-info" (click)="onClick('סוף העולם.,!')">😱</button>
<button class="btn btn-info" (click)="onClick('לא יכולה לראות את זה ,לא יכולה לראות את זה')">😫</button>
<button class="btn btn-info" (click)="onClick('בוכקות מצחוק,מיאוש,מחרפון')">🤣</button>
<button class="btn btn-info" (click)="onClick('זעם טוטאלי1')">😡</button>
<button class="btn btn-info" (click)="onClick('מה? אה !!!!!! אוף בעצם לא')">😳</button>
<button class="btn btn-info" (click)="onClick('בווווווו.......')"> 😖</button>
<button class="btn btn-info" (click)="onClick('לא יכולה לדבר , לא יכולה לדבר')">🤐</button>
<button class="btn btn-info">🤼‍</button>
<button class="btn btn-info">👭</button>
<button class="btn btn-info">😲</button>
<button class="btn btn-info">😭</button>
<button class="btn btn-info">🤢</button>
<button class="btn btn-info">🤭</button>
<button class="btn btn-info">🤯</button>
<button class="btn btn-info">😨</button>
<button class="btn btn-info">😷</button>
<button class="btn btn-info">👹</button>
<button class="btn btn-info">🤕</button>